<p id="notice"><%= notice %></p>

<h1>Listing Caracteristiques</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Schema</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracteristiques.each do |caracteristique| %>
      <tr>
        <td><%= caracteristique.name %></td>
        <td><%= link_to caracteristique.schema.name, schema_path(caracteristique.schema.id) %></td>
        <td><%= link_to caracteristique.schema.site.url, site_path(caracteristique.schema.site.id) %></td>
        <td><%= link_to 'Show', caracteristique %></td>
        <td><%= link_to 'Edit', edit_caracteristique_path(caracteristique) %></td>
        <td><%= link_to 'Destroy', caracteristique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caracteristique', new_caracteristique_path %>
